.modal-background {

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        background-color: #fff;

        width: 100%;
        max-width: 800px;

        padding: 30px;


        button {

            float: right;
            border: unset;

        }

    }

}